@import './theme.pcss';
@import '@fontsource-variable/inter';

@layer base {
	:root {
		--method-get-color: #10b981;
		--method-post-color: #eab308;
		--method-put-color: #0ea5e9;
		--method-patch-color: #8b5cf6;
		--method-delete-color: #f43f5e;
		--method-head-color: #14b8a6;
		--method-options-color: #6366f1;
	}

	html {
		font-size: 14px;
	}
}
